<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Meine Unterschriften
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>
      <ion-label>Datum</ion-label>
      <ion-label>Initiative</ion-label>
      <ion-label>Download</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let document of documents">
      <ion-item (click)="openDocument(document)" detail="true">
        <ion-label>{{document.timeCreated | date:'d.M.yy'}}</ion-label>
        <ion-label>{{document.nameShort}}</ion-label>
        <!--<ion-button color="primary" (click)="openDocument(document)" slot="end">
          <ion-icon name="open"></ion-icon>
        </ion-button>-->
        
        <ion-button color="primary" (click)="downloadDocument(document)" slot="end">
          <ion-icon name="download"></ion-icon>
        </ion-button>


      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(document)">
          <ion-icon name="trash"> löschen</ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

<!--
  <ion-item>
    <input type="file" accept="application/pdf" (change)="upload($event)" id="fileInput" />
    <ion-label for="fileInput" ion-button>
      <ion-icon name="cloud-upload"></ion-icon>
    </ion-label>
  </ion-item>
  -->
  <!--
  <ion-item>
    <ion-label></ion-label>
    <ion-input type="file" id="fileUpload" accept="application/pdf" (change)="upload($event)"></ion-input>
    <ion-button slot="end"><ion-icon name="cloud-upload"></ion-icon></ion-button>
  </ion-item>
-->
</ion-content>