<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Grüezi
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/sh_ch_logo_farbe.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Mitbestimmung als Grundrecht</ion-card-subtitle>
        <ion-card-title>Willkommen auf SH-Collect</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Die Stimm- und Wahlberechtigten sind das oberste Organ im Kantons Schaffhausen. Sie entscheiden über kantonale
          und eidgenössische Abstimmungsvorlagen. Sie wählen die Schaffhauser Vertretung im National- und Ständerrat und,
          auf kantonaler Ebene, die 60 Mitglieder des Kantonsrates und die fünf Mitglieder des Regierungsrates. Im Kanton
          Schaffhausen ist es obligatorisch, an Abstimmungen und Wahlen teilzunehmen – entweder an der Urne oder mit
          brieflicher Stimmabgabe. </p>
      </ion-card-content>
    </ion-card>
  </ion-content>